version: '3'
services:
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    ports:
      - 8989:8989
    volumes:
      - ${CONFIG_DIR:?}/sonarr:/config
      - ${MEDIA_DIR:?}/series:/tv
      - ${DOWNLOAD_DIR:?}:/downloads
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    ports:
      - 7878:7878
    volumes:
      - ${CONFIG_DIR:?}/radarr:/config
      - ${MEDIA_DIR:?}/movies:/tv
      - ${DOWNLOAD_DIR:?}:/downloads
    restart: unless-stopped

  deluge:
    image: linuxserver/deluge
    container_name: deluge
    network_mode: host
    volumes:
      - ${CONFIG_DIR:?}/deluge:/config
      - ${DOWNLOAD_DIR:?}:/torrents
    restart: unless-stopped

  jackett:
    image: linuxserver/jackett
    container_name: jackett
    ports:
      - 9117:9117
    volumes:
      - ${CONFIG_DIR:?}/jackett:/config
    restart: unless-stopped
  
  plex:
    image: plexinc/pms-docker
    container_name: plex
    network_mode: host
    volumes:
      - ${CONFIG_DIR:?}/plex:/config
      - ${MEDIA_DIR:?}:/media
    restart: unless-stopped

  tautulli:
    image: tautulli/tautulli
    container_name: tautulli
    ports:
      - 8181:8181
    volumes:
      - ${CONFIG_DIR:?}/tautulli:/config
      - ${CONFIG_DIR:?}/plex/Library/Application\ Support/Plex\ Media\Server/Logs/:/plex_logs:ro
    restart: unless-stopped

  watchtower:
    image: v2tec/watchtower
    container_name: watchtower_media-stack
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: sonarr radarr deluge jackett plex tautulli watchtower_media-stack -s "0 0 3 ? * *" --cleanup
    restart: unless-stopped